/* 
    General Styles
*/
.gghblue{
    background-color: #0089BB;
    color: #fff;
    font-weight: 700;
}

.gghbluelink{
    color: #0089BB;
}

.gghblack{
    background-color: #353534;
    color: #fff;
    font-weight: 700;
}