/* 
    General Styles
*/
.gghblue{
    background-color: #0089BB;
    color: #fff;
    font-weight: 700;
}
.gghblue:hover{
    background-color: #ececec;
    color: #0089BB;
    font-weight: 700;
    border: 1px solid rgb(118, 118, 118);
}

.gghbluelink{
    color: #0089BB;
}

.gghblack{
    background-color: #353534;
    color: #fff;
    font-weight: 700;
}

.icongghblue{
    color: #0089BB;
}

.icongghblack{
    color: #353534;
    margin-right: 20px;
    height: 10px;
    width: 10px;
}